<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.madhouseapp.kidslearningapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LandingActivity" />
        <activity
            android:name=".AlphabetsActivity"
            android:parentActivityName=".LandingActivity" />
        <activity
            android:name=".AnimalsActivity"
            android:parentActivityName=".LandingActivity" />
        <activity
            android:name=".FruitsActivity"
            android:parentActivityName=".LandingActivity" />
        <activity
            android:name=".VegetablesActivity"
            android:parentActivityName=".LandingActivity" />
        <activity
            android:name=".VehiclesActivity"
            android:parentActivityName=".LandingActivity" />
        <activity android:name=".ShapesActivity" />
        <activity android:name=".ColorsActivity" />
        <activity android:name=".ObjectsActivity" />
        <activity android:name=".SpellingsActivity"></activity>
    </application>

</manifest>